body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  min-height: 100vh;
}

#root{
  background-color: lightyellow;
  min-height: 100vh;
}

.bg-p {
  background-color: bisque;
}

.accordion-header , .accordion-button{
  background-color: rosybrown !important;
  color: white !important;
  border-radius: 5px !important;
}

.personalizados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 750px;
}

.carousel-container{
  width: 654px;
}

.img-div{
  margin-bottom: 20px;
}
